/* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Asterisk wildcard selector to override default styles set by the browser */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* General styles */
body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   /* Generic proejct styles */
   color: #3a3a3a;
   font-family: 'Quicksand', sans-serif;
}

/* Header */
header {
   background-color: white;
   padding: 0 1rem;
   position: fixed;
   z-index: 99;
   width: 100%;
   box-shadow: 1px 1px 1px #2c42b1;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

header a {
   text-decoration: none;
   color: inherit;
}

h1 {
   text-transform: uppercase;
   letter-spacing: 1px;
}

p {
   color: black;
}

#menu {
   list-style: none;
   letter-spacing: 2px;
   margin: 4px;
}

.bold {
   text-transform: uppercase;
}

/* For the dropdown navbar */
nav {
   position: absolute;
   background-color: white;
   width: 100%;
   left: 0;
   padding: 0 1rem;
   box-shadow: 2px 2px 2px;
   display: none;
   top: 100%;
}

/* Nav-toggle */
#nav-toggle:checked~nav {
   display: block;
}

#nav-toggle {
   display: none;
}

.nav-toggle-label {
   font-size: 2rem;
}

/* Main content */
main {
   background-image: url("/assets/images/lift.jpg");
   /* Make main element take up any surplus space to push footer down */
   flex: 1 0 auto;
   margin-top: 40px;
}

/* Introductory paragraph */
#intro {
   background-color: rgba(255, 255, 255, 0.5)
}

/* Footer */

footer {
   background-color
   :orange;
}

