/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Asterisk wildcard selector to override default styles set by the browser */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* General styles */
body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   /* Generic proejct styles */
   color: #3a3a3a;
   font-family: 'Quicksand', sans-serif;
}

h1, h2, h3 {
   text-transform: uppercase;
   letter-spacing: 1px;
}

/* Header */
header {
   background-color: white;
   padding: 0.5em 1rem;
   position: fixed;
   z-index: 99;
   width: 100%;
   box-shadow: 1px 1px 1px #2c42b1;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   font-size: 70%;
}

header a {
   text-decoration: none;
   color: inherit;
}

p {
   color: black;
}

/* Menu in dropdown navigation bar */
#menu {
   list-style: none;
   letter-spacing: normal;
   font-size: 130%;
}

/* For the dropdown navbar */
nav {
   position: absolute;
   background-color: white;
   width: 100%;
   left: 0;
   padding: 0 1rem;
   box-shadow: 2px 2px 2px;
   display: none;
   top: 100%;
}

/* Nav-toggle */
#nav-toggle:checked~nav {
   display: block;
}

#nav-toggle {
   display: none;
}

.nav-toggle-label {
   font-size: 2rem;
   margin-left: 0.7rem;
}

/* Main content */
main {
   /* Make main element take up any surplus space to push footer down */
   flex: 1 0 auto;
   margin-top: 70px;
}

/* Hero section */
#hero {
   height: 510px;
   width: 100%;
   background: url("../images/lift.jpg") no-repeat center center/cover;
   position: relative;
}

#cover-text {
   /* Final rgba value sets opacity so that it is semi-transparent */
   background-color: rgba(255, 255, 255, 0.5);
   font-size: 70%;
   text-transform: none;
   position: absolute;
   bottom: 30px;
}

/* Footer */
#social-networks {
   text-align: center;
   padding: 20px;
   display: flex;
   justify-content: space-evenly;
   list-style-type: none;
   position: relative;
}

/* Icons within footer */
#social-networks i {
   font-size: 200%;
   padding: 5%;
   color: #3a3a3a;
}

/* Upper body page */

#upper-body-header {
   font-size: 20px;
   background-color: aliceblue;
   margin-top: 20px;
}

/* Font size for title of each exercise */
div h3 {
   font-size: 15px;
}

/* Dimensions of pictures on upperbody page */
#bicep-curls-image {
   width: 80%;
   height: 80%;
}

#bicep-muscles-worked-image {
   width: 80%;
   height: 80%;
}

#bent-over-rows-image {
   width: 80%;
   height: 80%;
}

#bent-over-rows-muscles-worked-image {
   width: 80%;
   height: 80%;
}

#dumbbell-shoulder-press-image {
   width: 80%;
   height: 80%;
}

#dumbbell-shoulder-press-muscles-worked-image {
   width: 80%;
   height: 80%;
}

/* Lower body page */

/* Header styles */
#lower-body-header {
   font-size: 20px;
   background-color: aliceblue;
   margin-top: 20px;
}

/* Font size for title of each exercise */
div h3 {
   font-size: 15px;
}

/* Dimensions of pictures on lowerbody page */
#squats-image {
   width: 80%;
   height: 80%;
}

#squats-muscles-worked-image {
   width: 80%;
   height: 80%;
}

#lunge-image {
   width: 80%;
   height: 80%;
}

#lunges-muscles-worked-image {
   width: 80%;
   height: 80%;
}

#hip-thrust-image {
   width: 80%;
   height: 80%;
}

#hip-thrust-muscles-worked-image {
   width: 80%;
   height: 80%;
}

/* Sign up page */

/* Header styles */
#sign-up-header {
   font-size: 20px;
   background-color: aliceblue;
   margin-top: 20px;
}

/* Positioning of signup form */
#signup-form {
   position: relative;
   display: flex;
   flex-direction: column;
}

/* Dimesions of background image */
#signup-image {
   background: URL("../images/signup-background.png") no-repeat center center/cover;
   width: 100%;
   height: 400px;
}

/* Width of input fields */
main input {
   width: 50%;
}

/* Colour of field labels */
main label {
   color: white;
}

/* Styles for fieldset */
#fieldset {
   color: white;
   width: 70%;
   position: relative;
}

/* Positioning for checkbox input field */
#agree {
   position: relative;
   left: 115px;
   bottom: 15px;
}

/* Width of submit buttom */
#submit-button {
   width: 50%;
}

/* Contact Us section styles */
#contact-section {
   position: relative;
   bottom: -50px;
   background-color: rgba(255, 255, 255, 0.5);
   font-size: 80%;
}

/* Media query: styles applied to tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

   /* Header */
   nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: 0.5rem;
   }

   /* Header */
   header {
      background-color: white;
      padding: 0.5em 1rem;
      position: fixed;
      z-index: 99;
      width: 100%;
      box-shadow: 1px 1px 1px #2c42b1;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      font-size: 80%;
   }

   #menu {
      display: flex;
      font-size: 160%;
   }

   #menu>li {
      padding-left: 1rem;
   }

   .nav-toggle-label {
      display: none;
   }

   #logo {
      font-size: 300%;
      line-height: 75px;
      margin: 0 0.5rem;
   }

   /* Main Content */
   main {
      /* Push main content down to accomodate larger header */
      margin-top: 105px;
      text-align: center;
   }

   /* Hero image */
   #hero {
      height: 1000px;
      width: 100%;
      position: relative;
   }

   #cover-text {
      /* Final rgba value sets opacity so that it is semi-transparent */
      background-color: rgba(255, 255, 255, 0.5);
      position: relative;
      bottom: -750px;
   }

   #cover-text-font {
      font-size: 220%;
   } 

   /* Icons within footer */
   #social-networks i {
      font-size: 250%;
      padding: 0.5%;
      color: #3a3a3a;
   }

   /* All 3 pages */

   /* Font for paragraphs in each page */
   .main-content {
      font-size: 150%;
   }
 
   /* Header at the top of each page */
   .main-content-header {
      font-size: 120%;
   }

      
   /* Upper body page */

   /* Header styles */
   #upper-body-header {
      font-size: 200%;
      background-color: aliceblue;
      margin-top: 5px;
   }

   /* Header at the top of upperbody page */
   main h2 {
      font-size: 100px;
      background-color: aliceblue;
      margin-top: 100px;
   }

   /* Lower body page */

   /* Header styles */
   #lower-body-header {
      font-size: 200%;
      background-color: aliceblue;
      margin-top: 5px;
   }

   /* Header at the top of lowerbody page */
   main h2 {
      font-size: 200%;
      background-color: aliceblue;
   }

   /* Sign up page */

   /* Header at the top of signup page */
   main h2 {
      font-size: 200%;
      background-color: aliceblue;
   }

   /* Header styles */
   #sign-up-header {
      font-size: 200%;
      background-color: aliceblue;
      margin-top: 5px;
   }

   /* Signup form styles */
   #signup-form {
      position: relative;
      left: 200px;
      display: flex;
      flex-direction: column;
   }

   /* Form label styles */
   .form-labels {
      position: relative;
      right: 200px;
   }

   /* background image for signup page */
   #signup-image {
      background: URL("../images/signup-background.png") no-repeat center center/cover;
      width: 100%;
      height: 500px;
   }
 
   /* Width of input fields */
   main input {
      width: 50%;
   }

   /* Colour of labels */
   main label {
      color: white;
   }

   /* Form outline field styles */
   #fieldset {
      color: white;
      width: 100%;
      margin-top: -10px;
   }

   /* Checkbox input field styles */
   #agree {
      position: relative;
      left: 120px;
      bottom: 16px;
   }

   /* Submit button styles */
   #submit-button {
      width: 20%;
      height: 30%;
      position: relative;
      right: -125px;
   }

   /* Contact Us section */
   #contact-section {
      position: relative;
      bottom: -380px;
      background-color: rgba(255, 255, 255, 0.5);
      font-size: 200%;
   }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

  /* Main content */

  /* Hero section */
  #hero {
      height: 700px;
      width: 100%;
      background: url("../images/lift.jpg") no-repeat center center/cover;
      position: relative;
   }

  #cover-text {
   /* Final rgba value sets opacity so that it is semi-transparent */
      background-color: rgba(255, 255, 255, 0.5);
      font-size: 70%;
      text-transform: none;
      position: absolute;
      bottom: 10px;
   }


   /* Footer */
   #social-networks {
      text-align: center;
      padding: 10px;
      display: flex;
      justify-content: space-evenly;
      list-style-type: none;
      position: relative;
   }

   /* Icons within footer */
   #social-networks i {
      font-size: 200%;
      padding: 5%;
      color: #3a3a3a;
   }

   /* Upperbody page */

   /* Dimensions of pictures on upperbody page */
   #bicep-curls-image {
      width: 50%;
      height: 80%;
   }

   #bicep-muscles-worked-image {
      width: 50%;
      height: 80%;
   }

   #bent-over-rows-image {
      width: 50%;
      height: 80%;
   }

   #bent-over-rows-muscles-worked-image {
      width: 50%;
      height: 80%;
   }

   #dumbbell-shoulder-press-image {
      width: 50%;
      height: 80%;
   }

   #dumbbell-shoulder-press-muscles-worked-image {
      width: 50%;
      height: 80%;
   }

   /* Lower body page */

   /* Dimensions of pictures on lowerbody page */
   #squats-image {
      width: 50%;
      height: 80%;
   }

   #squats-muscles-worked-image {
      width: 50%;
      height: 80%;
   }

   #lunge-image {
      width: 50%;
      height: 80%;
   }

   #lunges-muscles-worked-image {
      width: 50%;
      height: 80%;
   }

   #hip-thrust-image {
      width: 50%;
      height: 80%;
   }

   #hip-thrust-muscles-worked-image {
      width: 50%;
      height: 80%;
   }

   /* Signup page */

   /* Form outline field styles */
   #fieldset {
      color: white;
      width: 100%;
      margin-top: -15px;
   }

   /* Signup form styles */
   #signup-form {
      position: relative;
      left: 200px;
      display: flex;
      flex-direction: column;
   }

   /* Form label styles */
   .form-labels {
      position: relative;
      right: 200px;
   }

   /* Input field styles */
   .text-field {
      position: relative;
      left: 330px;
      width: 25%;
   }

   /* Checkbox input field styles */
   #agree {
      position: relative;
      left: 250px;
      bottom: 16px;
   }

   /* Submit button styles */
   #submit-button {
      width: 15%;
      height: 30%;
      position: relative;
      right: -410px;
   }

   /* Contact Us section */
   #contact-section {
      position: relative;
      bottom: 95px;
      background-color: rgba(255, 255, 255, 0.5);
      font-size: 200%;
   }

}