/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Asterisk wildcard selector to override default styles set by the browser */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

/* General styles */
body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   /* Generic proejct styles */
   color: #3a3a3a;
   font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
   text-transform: uppercase;
   letter-spacing: 1px;
}

/* Header */
header {
   background-color: white;
   padding: 0.5em 1rem;
   position: fixed;
   z-index: 99;
   width: 100%;
   box-shadow: 1px 1px 1px #2c42b1;
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   font-size: 70%;
}

header a {
   text-decoration: none;
   color: inherit;
}



p {
   color: black;
}

#menu {
   list-style: none;
   letter-spacing: normal;
   font-size: 130%;
}

.bold {
   text-transform: uppercase;
}

/* For the dropdown navbar */
nav {
   position: absolute;
   background-color: white;
   width: 100%;
   left: 0;
   padding: 0 1rem;
   box-shadow: 2px 2px 2px;
   display: none;
   top: 100%;
}

/* Nav-toggle */
#nav-toggle:checked~nav {
   display: block;
}

#nav-toggle {
   display: none;
}

.nav-toggle-label {
   font-size: 2rem;
   margin-left: 0.7rem;
}

/* Main content */
main {
   /* Make main element take up any surplus space to push footer down */
   flex: 1 0 auto;
   margin-top: 70px;
}

/* Hero section */
#hero {
   height: 500px;
   width: 100%;
   background: url("../images/lift.jpg") no-repeat center center/cover;
   position: relative;
}

#cover-text {
   /* Final rgba value sets opacity so that it is semi-transparent */
   background-color: rgba(255, 255, 255, 0.5);
   font-size: 70%;
   text-transform: none;
   position: absolute;
   bottom: 30px;
}


/* Footer */
#social-networks {
   text-align: center;
   padding: 20px;
   display: flex;
   justify-content: space-evenly;
   list-style-type: none;
   position: relative;
}

#social-networks i {
   font-size: 200%;
   padding: 5%;
   color: #3a3a3a;
}

/* Upper body page */

#upper-body-header {
   font-size: 20px;
   background-color: aliceblue;
   margin-top: 20px;
}

div h3 {
   font-size: 15px;
   text-transform: capitalize, lowercase;
}

#bicep-curls-image {
   width: 80%;
   height: 80%;
}

#bicep-muscles-worked-image {
   width: 80%;
   height: 80%;
}

#bent-over-rows-image {
   width: 80%;
   height: 80%;
}

#bent-over-rows-muscles-worked-image {
   width: 80%;
   height: 80%;
}

#dumbbell-shoulder-press-image {
   width: 80%;
   height: 80%;
}

#dumbbell-shoulder-press-muscles-worked-image {
   width: 80%;
   height: 80%;
}

/* Lower body page */

#lower-body-header {
   font-size: 20px;
   background-color: aliceblue;
   margin-top: 20px;
}

div h3 {
   font-size: 15px;
   text-transform: capitalize, lowercase;
}

#squats-image {
   width: 80%;
   height: 80%;
}

#squats-muscles-worked-image {
   width: 80%;
   height: 80%;
}

#lunge-image {
   width: 80%;
   height: 80%;
}

#lunges-muscles-worked-image {
   width: 80%;
   height: 80%;
}

#hip-thrust-image {
   width: 80%;
   height: 80%;
}

#hip-thrust-muscles-worked-image {
   width: 80%;
   height: 80%;
}

/* Sign up page */

#sign-up-header {
   font-size: 20px;
   background-color: aliceblue;
   margin-top: 20px;
}

#signup-form {
   position: relative;
   display: flex;
   flex-direction: column;
}

#signup-image {
   background: URL("../images/signup-background.jpg") no-repeat center center/cover;
   width: 100%;
   height: 500px;
}

main input {
   width: 50%;
}

main label {
   color: white;
}

#fieldset {
   color: white;
   width: 70%;

}

#agree {
   position: relative;
   left: 115px;
   bottom: 15px;
}

#submit-button {
   width: 50%;
}

/* Contact Us section */
#contact-section {
   position: relative;
   bottom: -50px;
   background-color: rgba(255, 255, 255, 0.5);
}

/* Media query: styles applied to tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

   /* Header */
   nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: 0.5rem;
   }

   /* Header */
   header {
      background-color: white;
      padding: 0.5em 1rem;
      position: fixed;
      z-index: 99;
      width: 100%;
      box-shadow: 1px 1px 1px #2c42b1;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      font-size: 80%;
   }

   #menu {
      display: flex;
      font-size: 160%;
   }

   #menu>li {
      padding-left: 1rem;
   }

   .nav-toggle-label {
      display: none;
   }

   #logo {
      font-size: 300%;
      line-height: 75px;
      margin: 0 0.5rem;
   }

   /* Main Content */
   main {
      /* Push main content down to accomodate larger header */
      margin-top: 105px;
      text-align: center;
   }

   /* Hero image */
   #hero {
      height: 1000px;
      width: 100%;
      position: relative;
   }

      #cover-text {
         /* Final rgba value sets opacity so that it is semi-transparent */
         background-color: rgba(255, 255, 255, 0.5);
         position: relative;
         bottom: -800px;
      }

      #cover-text-font {
         font-size: 200%;
      }

      /* All 3 pages */
      .main-content {
         font-size: 150%;
      }

      .main-content-header {
         font-size: 120%;
      }

      /* Upper body page */

      #upper-body-header {
         font-size: 200%;
         background-color: aliceblue;
         margin-top: 5px;
      }

      main h2 {
         font-size: 100px;
         background-color: aliceblue;
         margin-top: 100px;
      }

      /* Lower body page */

      #lower-body-header {
         font-size: 200%;
         background-color: aliceblue;
         margin-top: 5px;
      }

      main h2 {
         font-size: 200%;
         background-color: aliceblue;
      }

      /* Sign up page */

      main h2 {
         font-size: 200%;
         background-color: aliceblue;
      }

      #sign-up-header {
         font-size: 200%;
         background-color: aliceblue;
         margin-top: 5px;
      }

      #signup-form {
         position: relative;
         left: 200px;
         display: flex;
         flex-direction: column;
      }

      .form-labels {
         position: relative;
         right: 200px;
      }

      #signup-image {
         background: URL("../images/signup-background.jpg") no-repeat center center/cover;
         width: 100%;
         height: 500px;
      }

      main input {
         width: 50%;
      }

      main label {
         color: white;
      }

      #fieldset {
         color: white;
         width: 100%;
         margin-top: 100px;
      }

      #agree {
         position: relative;
         left: 140px;
         bottom: 20px;
      }

      #submit-button {
         width: 20%;
         height: 30%;
         position: relative;
         right: -125px;
      }

      /* Contact Us section */
      #contact-section {
         position: relative;
         bottom: -200px;
         background-color: rgba(255, 255, 255, 0.5);
         font-size: 200%;
      }
   }

   /* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

/* Main content */

/* Hero section */
#hero {
   height: 500px;
   width: 100%;
   background: url("../images/lift.jpg") no-repeat center center/cover;
   position: relative;
}

#cover-text {
   /* Final rgba value sets opacity so that it is semi-transparent */
   background-color: rgba(255, 255, 255, 0.5);
   font-size: 70%;
   text-transform: none;
   position: absolute;
   bottom: 80px;
}


/* Footer */
#social-networks {
   text-align: center;
   padding: 20px;
   display: flex;
   justify-content: space-evenly;
   list-style-type: none;
   position: relative;
}

#social-networks i {
   font-size: 200%;
   padding: 5%;
   color: #3a3a3a;
}


/* Signup page */

#fieldset {
   color: white;
   width: 100%;
   margin-top: -15px;
}

#signup-form {
   position: relative;
   left: 200px;
   display: flex;
   flex-direction: column;
}

.form-labels {
   position: relative;
   right: 200px;
}

#agree {
   position: relative;
   left: 140px;
   bottom: 20px;
}

#submit-button {
   width: 20%;
   height: 30%;
   position: relative;
   right: -125px;
}

 /* Contact Us section */
 #contact-section {
   position: relative;
   bottom: 95px;
   background-color: rgba(255, 255, 255, 0.5);
   font-size: 200%;
}

}